<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/groups"></ion-back-button>
    </ion-buttons>
    <ion-title>Categoria: {{category}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div>
    <h1>Detalles de la Nota</h1>
    <p>ID de la Nota: {{ noteId }}</p>
  </div> -->
  <ion-list>
    <ion-item *ngFor="let item of notes.notes; let i = index">
      <ion-card>
        <ion-card-header>
          <!-- <ion-card-title *ngIf="item.description">{{item.description}}</ion-card-title> -->
          <ion-card-subtitle>Fecha de Inicio: {{item?.date || "" | dateFormat }}</ion-card-subtitle>
          <div style="width: 100%;">
            <ion-button fill="clear" (click)="removeElement(i)" style="width: 30px; position: absolute; right: 0px;">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-card-header>
      
        <ion-card-content >
          <img *ngIf="item.data" [src]="item.data" alt="Image Preview" style="max-width: 300px; max-height: 300px;" />
          <ion-label *ngIf="item.description">{{item.description}}</ion-label>
        </ion-card-content>
      </ion-card>
      <!-- <img *ngIf="item.data" [src]="item.data" alt="Image Preview" style="max-width: 300px; max-height: 300px;" /> -->
    </ion-item>
  </ion-list>
  <ion-modal [isOpen]="openModalNote" (willDismiss)="cancel()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Nueva nota</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item *ngIf="text">
          <ion-textarea [(ngModel)]="description" labelPlacement="floating" fill="solid"
            label="descripcion"></ion-textarea>
        </ion-item>
        <ion-item *ngIf="camera">
          <div class="image-upload">
            <h1>Puedes tomar una Foto o Subir una imagen </h1>
            <input type="file" (change)="onFileSelected($event)" accept="image/*" />
            <br><br>
            <img *ngIf="imagePreview" [src]="imagePreview" alt="Image Preview" style="max-width: 300px;" />
          </div>
        </ion-item>
      </ion-content>

    </ng-template>
  </ion-modal>
</ion-content>
<div>
  <ion-button (click)="onClickModalText()" fill="outline" style="position: absolute; right: 20px; bottom: 43px;"
  shape="round">
  <ion-icon name="pencil-outline"></ion-icon>
</ion-button>
<ion-button (click)="onClickModalImage()" fill="outline" style="position: absolute; right: 100px; bottom: 43px;"
  shape="round">
  <ion-icon name="camera-outline"></ion-icon>
</ion-button>
<ion-button (click)="onClickModalVoice()" fill="outline" style="position: absolute; right: 180px; bottom: 43px;"
  shape="round">
  <ion-icon name="mic-outline"></ion-icon>
</ion-button>
</div>